/* Variables */
$background-grey: #F6F7FB;
$light-grey-text: #B9BDCF;
$dark-blue: #334680;
$checked-blue: #1E86FF;
$roboto-700-12: 700 12px/14px 'Roboto', sans-serif;
$roboto-700-24: 700 24px/30px 'Roboto', sans-serif;
$roboto-400-16: 400 16px/24px 'Roboto', sans-serif;
$roboto-700-18: 700 18px/21px 'Roboto', sans-serif;
$poppins-500: 500 12px/14px 'Poppins', sans-serif;
$poppins-700: 700 14px/21px 'Poppins', sans-serif;


.App{
    width: 92%;
}

.title{
    margin-bottom: 35px;
}

.full-time{
    position: relative;
    margin: 0;
    font: $roboto-700-12;
    color: $dark-blue;
}

.fulltime{
    position: relative;
    display: flex;
    width: 63px;
    height: 26px;
    border: 1px solid $dark-blue;
    margin-top: 0;
    margin-left: 17px;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.position{
    position: relative;
    margin: 0;
    font: $roboto-700-24;
    color: $dark-blue;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row_top{
    display: flex;
    flex-direction: row;
    margin-bottom: 9.5px;
    align-items: center;
}

.row_margin_top{
    display: flex;
    margin-top: 35px;
}

.col{
    display: flex;
    flex-direction: column;
    height: 42px;
    justify-content: space-between;
}

.text{
    font: $roboto-400-16;
    color: $dark-blue;
    &.small{
        display: flex;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: $light-grey-text;
        margin: 0px;
    }
}

.container-left-jobDesc{
    width: 230px;
    overflow-wrap: break-word;
}

.text_left{
    font: $poppins-700;
    font-weight: 500;
    color: $checked-blue;
    margin: 0;
}

.text_apply{
    font: $poppins-700;
    margin-top: 36px;
    color: $light-grey-text;
    &.desc{
        font-weight: 500;
        margin-top: 16px;
        color: $dark-blue;
    }
}

#small-icon{
    height: 15px;
    margin-right: 8.5px;
}

.company-icon{
    height: 42px;
    width: 42px;
    border-radius: 4px;
    background-color: #F2F2F2;
    margin-right: 12px;
}

img{
    text-indent:-9999px
}

.company-name{
    font: $roboto-700-18;
}

@media (max-width: 965px){
    .position{
        font-size: 20px;
    }
    .row_top{
        flex-direction: column;
        align-items: flex-start;
    }
    .fulltime{
        margin-left: 0;
        margin-top: 10px;
    }
}
